.App {
  max-width: 450px;
  margin-left: auto;
  margin-right: auto;
  padding: 15px;
}

.App-header {
  margin-bottom: 30px;
}

.App-header .App-header-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.App-header .App-header-info .App-header-sync-loader {
  color: rgba(0,0,0,0.5);
}

.App-header .App-header-form {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.App-header .App-header-form input[type="text"]{
  padding: 15px;
  border: none;
  border-bottom: 1px solid #eee;
  width: 85%;
  outline: none;
  transition: border-bottom-color .4s ease;
}

.App-header .App-header-form input[type="text"]:focus {
  border-bottom-color: rgba(0, 0, 255, 0.25);
}

.App-header .App-header-form button[type="submit"] {
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fafafa;
  border-radius: 5px;
  border: none;
}

.App-todos {
  max-height: 500px;
  overflow-y: hidden;
}

.App-todos.App-todos--expanded {
  max-height: initial;
  overflow-y: initial;
}

.App-todos .App-todo {
  margin-bottom: 15px;
  border-bottom: 1px solid #eee;
  padding-bottom: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.App-todos .App-todo button {
  width: 30px;
  height: 30px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(255, 0, 0, 0.025);
  color: rgba(255, 0, 0, 0.75);
  border: none;
  font-size: 12px;
}

.App-todos .App-todo input[type="checkbox"] {
  margin-right: 10px;
}

.App-todos .App-todo.App-todo--completed {
  color: rgba(0,0,0,0.25);
}
.App-todos .App-todo.App-todo--completed input[type="checkbox"] {
  opacity: 0.25;
}
.App-todos .App-todo.App-todo--completed label {
  text-decoration: line-through;
}

.App-footer {
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translateY(-30px);
}

.App-footer .App-footer-expand-todos {
  padding: 7.5px 24px 7.5px 24px;
  background-color: #fafafa;
  color: #24252a;
  border: 1px solid #eee;
  text-decoration: none;
  font-size: 12px;
  border-radius: 24px;
  cursor: pointer;
}

.App-footer .App-footer-expand-todos i {
  margin-right: 10px;
}

.App-copyright {
  color: rgba(0,0,0,0.5);
  text-align: center;
}

.App-copyright small {
  display: block;
  margin-bottom: 10px;
}

.App-copyright small a {
  color: rgba(0,0,0,0.5);
}

.App-copyright i {
  color: rgba(255, 0, 0, 0.75);
}